In [65]:
import pandas as pd

In [66]:
train_df = pd.read_csv('/kaggle/input/nlp-getting-started/train.csv')
print('train shape:',train_df.shape)
gt_df = pd.read_csv("../input/disasters-on-social-media/socialmedia-disaster-tweets-DFE.csv")
print('gt_df shape:',gt_df.shape)

train shape: (7613, 5)
gt_df shape: (10876, 13)

In [67]:
print('info for train data')
print(train_df.head())
print(10*'%')
print('nan for keyword',sum(train_df['keyword'].isna()))
print(10*'%')
print('nan for location',sum(train_df['location'].isna()))

print('info for gt_df data')
print(50*'%')
print('nan for keyword',sum(gt_df['keyword'].isna()))
print(10*'%')
print('nan for location',sum(gt_df['location'].isna()))

info for train data
   id keyword location                                               text  \
0   1     NaN      NaN  Our Deeds are the Reason of this #earthquake M...
1   4     NaN      NaN             Forest fire near La Ronge Sask. Canada
2   5     NaN      NaN  All residents asked to 'shelter in place' are ...
3   6     NaN      NaN  13,000 people receive #wildfires evacuation or...
4   7     NaN      NaN  Just got sent this photo from Ruby #Alaska as ...

   target
0       1
1       1
2       1
3       1
4       1
%%%%%%%%%%
nan for keyword 61
%%%%%%%%%%
nan for location 2533
info for gt_df data
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
nan for keyword 87
%%%%%%%%%%
nan for location 3638

In [68]:
print(gt_df.head())

    _unit_id  _golden _unit_state  _trusted_judgments _last_judgment_at  \
0  778243823     True      golden                 156               NaN
1  778243824     True      golden                 152               NaN
2  778243825     True      golden                 137               NaN
3  778243826     True      golden                 136               NaN
4  778243827     True      golden                 138               NaN

  choose_one  choose_one:confidence choose_one_gold keyword location  \
0   Relevant                 1.0000        Relevant     NaN      NaN
1   Relevant                 1.0000        Relevant     NaN      NaN
2   Relevant                 1.0000        Relevant     NaN      NaN
3   Relevant                 0.9603        Relevant     NaN      NaN
4   Relevant                 1.0000        Relevant     NaN      NaN

                                                text  tweetid  userid
0                 Just happened a terrible car crash      1.0     NaN
1  Our Deeds are the Reason of this #earthquake M...     13.0     NaN
2  Heard about #earthquake is different cities, s...     14.0     NaN
3  there is a forest fire at spot pond, geese are...     15.0     NaN
4             Forest fire near La Ronge Sask. Canada     16.0     NaN

In [69]:
gt_df['choose_one'].value_counts()

Not Relevant    6187
Relevant        4673
Can't Decide      16
Name: choose_one, dtype: int64

In [70]:

gt_df['choose_one:confidence'].value_counts()

1.0000    5046
0.8000     203
0.6006     187
0.7982     185
0.7994     183
          ...
0.4016       1
0.7183       1
0.8371       1
0.6041       1
0.5932       1
Name: choose_one:confidence, Length: 463, dtype: int64

In [71]:
gt_df = gt_df[['choose_one', 'text','keyword', 'location', '_trusted_judgments']]
gt_df['target'] = (gt_df['choose_one']=='Relevant').astype(int)
gt_df['id'] = gt_df.index # set up the id column as index
gt_df.drop('choose_one',inplace = True,axis = 1) # remove unnecessary column
gt_df = gt_df.iloc[:,[5,0,1,2,3,4]] # order the columns
gt_df.iloc[40:50]

,id,text,keyword,location,_trusted_judgments,target
40,40,Cooool :),NaN,NaN,141,0
41,41,Do you like pasta?,NaN,NaN,139,0
42,42,No don't tell me that!,NaN,NaN,147,0
43,43,What if?!,NaN,NaN,151,0
44,44,The end!,NaN,NaN,134,0
45,45,Awesome!,NaN,NaN,151,0
46,46,Birmingham Wholesale Market is ablaze BBC News...,ablaze,London,5,1
47,47,@sunkxssedharry will you wear shorts for race ...,ablaze,Niall's place | SAF 12 SQUAD |,5,0
48,48,@bbcmtd Wholesale Markets ablaze http://t.co/l...,ablaze,Birmingham,5,1
49,49,We always try to bring the heavy. #metal #RT h...,ablaze,Est. September 2012 - Bristol,5,0